<!DOCTYPE html>

<html lang="en">

	<head>
		<meta charset="utf-8">
		<link href="/css/bootstrap.min.css" rel="stylesheet">
	
	</head>

	<body>
		<div class = "container">
			<div class = "col-md-10">
			<div class = "page-header">
				<h1><p class = "text-center">Device Monitoring based on CoAP and Node.js</p></h1>
			</div>
			<div class="row">
					<h5>
					<table class = "table table-bordered">
						<tr class ="active">
							<td><p class = "text-center"><strong>@</strong></p></td>
							<td class = "success"><p class = "text-center"><strong>My Laptop</strong></p></td>
							<td class = "info"><p class = "text-center"><strong>Raspberry pi</strong></p></td>
						</tr>

					</table>
				</h5>
			</div>
			</div>
			<div class = "col-md-2">
				<div class = "page-header">
					<img src="https://scontent-tpe1-1.xx.fbcdn.net/v/t1.0-9/10410170_900770249946245_7498116939478090457_n.jpg?oh=a1558cfdd3cac8d247192789ed6ea268&oe=58710BD6" class = "img-responsive" class="img-circle">
				</div>
			</div>
		</div>

	<body>

</html>
